/* Set the background of the 'body' element to light blue (#00b3e6) */
body {
  background: #00b3e6;
}

/* Apply styles to all 'div' elements */
div {
  width: 700px;
  margin: auto;
  font-family: "Helvetica Neue", sans-serif;
  background: white;
  padding: 30px;
}

/* Apply styles to the element with id 'main-header' */
#main-header {
  font-size: 22px;
}

/* Apply styles to elements with the class 'perspective-questions' */
.perspective-questions {
  font-style: italic;
}
